<h1><%= title %></h1>

<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>


  <% if (flash) { %>
    <% if (flash.notice) { %>
      <ul class="notice">
        <% flash.notice.forEach(msg => { %>
          <li><%= msg %></li>
        <%  }) %>
      </ul>
    <% } %>
  <% } %>



  <form id="deleteForm" action="/account/delete-confirm" method="POST" onsubmit="return validateForm()">
    <div class="auth-forms">
        <fieldset>
            <label for="firstname">First Name:</label>
            <input type="text" id="firstname" name="account_firstname" value="<%= locals.account_firstname %>" readonly>

            <label for="lastname">Last Name:</label>
            <input type="text" id="lastname" name="account_lastname" value="<%= locals.account_lastname %>" readonly>

            <label for="email">Email:</label>
      <input type="email" id="email" name="account_email" value="<%= locals.account_email %>" readonly>

      <p>Confirm Account Deletion - This action cannot be undone.</p>
      <div>
        <button type="submit">Delete Account</button>
        <input type="hidden" name="account_id"
        <% if(locals.account_id) { %> value="<%= locals.account_id %>"
        <% } %>>
      </div>
        </fieldset>
    </div>
    

   
  </form>