<h1><%= title %></h1>

<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>

  <% if (flash) { %>
    <% if (flash.notice) { %>
      <ul class="notice">
        <% flash.notice.forEach(msg => { %>
          <li><%= msg %></li>
        <%  }) %>
      </ul>
    <% } %>
  <% } %>



<form id="updateAccountForm" action="/account/account-update" method="POST">
    <div class="auth-forms">
        <h2>Account Update</h2>
        <fieldset>
            <label for="firstName">First Name:</label>
      <input type="text" id="firstName" name="account_firstname" required value="<%= locals.account_firstname %>">
      <label for="lastName">Last Name:</label>
      <input type="text" id="lastName" name="account_lastname" required value="<%= locals.account_lastname %>">
      <label for="email">Your Email:</label>
      <input type="email" id="email" name="account_email" required value="<%= locals.account_email %>">
      <button disabled type="submit">Update Account</button>
      <input type="hidden" name="account_id"
    <% if(locals.account_id) { %> value="<%= locals.account_id %>"
    <% } %>>
    </fieldset>
    </div>
    
  </form>
  <br>

  <form action="/account/change-password" method="POST">
    <div class="auth-forms">
        <h2>Change Password</h2>
        <fieldset>
            <label for="password">Change your password:</label>
            <input type="password" id="password" name="account_password" class="password" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$" required>
              <a href="#password" id="pwdLink" onclick="showPw()" class="btn">Show</a>
            <div>
                <span><i>Entering a new password will change the existing password</i></span><br>
                <span><i>Password must contain at least 12 characters, and include 1 capital letter, 1 number and 1 special character</i></span>
            </div>
            <button type="submit">change password</button>
            <input type="hidden" name="account_id"
            <% if(locals.account_id) { %> value="<%= locals.account_id %>"
            <% } %>>
        </fieldset>
    </div>
  </form>

  <script src="../../js/acc-management.js"></script>
  <script src="../../js/script.js"></script>